.container {
  display: flex;
  padding: 1rem;
  border: 1px solid black;
  width: max-content;
  margin: auto;
  flex-direction: column;
  gap: 1rem;
}
.red {
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 150px;
  border: 1px solid black;
}
.hide {
  background-color: white !important;
}
.yellow {
  height: 100px;
  width: 100px;
  background-color: yellow;
  border-radius: 150px;
  border: 1px solid black;
}

.green {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 150px;
  border: 1px solid black;
}
