* {
  margin: 0;
  padding: 0;
  background-color: rgb(59, 59, 59);
}
.container {
  width: 70vw;
  height: 20vh;
  margin: 1rem auto;
  border: 1px solid rgb(255, 255, 255);
  position: relative;
}

.absolute {
  width: 30px;
  height: 30px;
  background-color: red;
  position: sticky;
  top: 0;
}
p {
  display: inline-block;
  position: relative;
}
p::after {
  position: absolute;
  left: 0px;
  height: 2px;
  bottom: 0px;
  width: 100%;
  background-color: green;
  content: "";
  transform: scaleX(0);
  transform-origin: right;
  transition: transform ease-in 0.3s;
}
p:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.grid {
  display: grid;
  /* grid-template-areas:
    "a b c"
    "d d d"
    "e f g"
    "h h h" */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 150px
}
.grid>div {
  background-color: goldenrod;
  border: 1px solid white;
}
/* @media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(10, 100px);
  }
} */
